<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="project.css" />
    <title><%~ it.title %> — Versus Virus</title>
    <meta name="description" content="<%~ it.tagline %>">
    <style>
        .page-header .gutter,
        .page-main .gutter,
        .page-footer .gutter {
            max-width: 40em;
        }
    </style>
</head>
<body>
    <header class="page-header">
        <div class="gutter">
            <a href="https://www.versusvirus.ch/">
                <img src="../logo.gif" alt="logo" title="Versus Virus" height="40" width="120" style="margin-top:4px;margin-bottom:-4px" />
            </a>
        </div>
    </header>
    <main class="page-main" vocab="http://schema.org/" typeof="CreativeWork">
        <div class="gutter">
            <p class="date" property="datePublished"><small><time datetime="<%= it.datePublished %>"><%= new Date(it.datePublished).toDateString() %></time></small></p>
            <h1 class="title" property="name"><%~ it.title %></h1>
            <p property="abstract"><strong><%~ it.tagline %></strong></p>
            <% if (it.youTubeVideoId) { %>
            <div class='embed-container'>
                <iframe src='https://www.youtube.com/embed/<%= it.youTubeVideoId %>' frameborder='0' allowfullscreen></iframe>
            </div>
            <% } else { %>
            <h3>Video</h3>
            <p property="video"><a href="<%~ it.videoUrl %>" target="_blank"><%~ it.videoUrl %></a></p>
            <% } %>
            <section property="description">
                <h3>Description</h3>
                <p><%~ it.description %></p>
                <h3>Technologies used</h3>
                <p><%~ it.technologiesUsed %></p>
                <h3>Accomplishments</h3>
                <p><%~ it.accomplishments %></p>
                <h3>Obstacles</h3>
                <p><%~ it.obstacles %></p>
                <h3>Learnings</h3>
                <p><%~ it.learnings %></p>
                <h3>Next steps</h3>
                <p><%~ it.nextSteps %></p>
            </section>
            <% if (it.images.length) { %>
            <h3>Gallery</h3>
            <ul class="gallery">
                <% it.images.forEach(function(image){ %>
                <li class="gallery-item"><a href="<%= image %>" target="_blank"><img src="<%= image %>" /></a></li>
                <% }) %>
            </ul>
            <% } %>
            <h3>Sources</h3>
            <ul class="sources">
                <% it.urls.forEach(function(url){ %>
                <li class="source" property="source"><a href="<%= url %>" target="_blank"><%= url %></a></li>
                <% }) %>
            </ul>
            <a class="back" href="/submissions">« Back to submissions</a>
        </div>
    </main>
    <footer class="page-footer">
        <div class="gutter">
            <p>© <a href="https://versusvirus.ch" property="maintainer">Versus Virus</a> 2020. Made with ❤ in Switzerland.</p>
        </div>
    </footer>
</body>
</html>